*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/release
/captures.externalNativeBuild
.cxx
local.properties
node_modules
package-lock.json
pnpm-lock.yaml
temp.json
temp
/app/src/main/jniLibs
/app/src/main/assets/models
/app/src/main/assets/subpack

app/src/main/assets/pets

.gradle
.idea
.cursor
.vscode
.kotlin
.windsurf

tmp
AGENTS.md
CLAUDE.md

gradle/gradle-8.7-bin.zip
gradle/gradle-8.7/*
gradle/gradle-8.7

mnn/build/*
mnn/build
kls_database.db
/wf_doc/
